{% extends 'base.html' %}
{% block title %}Password Reser pages {% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-2">
        <div class="col-md-4 col-sm-12 offset-md-4 mt-5">
            <div class="card">
                <div class="card-header bg-info">
                    <div class="card-title w-100">Password Reset </div>
                </div>
                <div class="card-body">
                    <form class="mt-3" action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-flex justify-content-between">
                            <input class="btn btn-primary" type="submit" value="Reset Password">
                            <a class="btn btn-link" href="{% url 'login' %}">return to login</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}