{% extends 'base.html' %}
{% block title %}Password Reser pages {% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-2">
        <div class="col-md-8 col-sm-12 offset-md-2 mt-5">
            <h2>Password reset sent</h2>
                <p>We have mailed you instruction for setting your password
                    if an account exists with the email you entered, you receive an email shortly.
                </p>
                <p>
                    if you don't receive an email, make sure you have entered the address you registered with,
                    check your spam folder.
                </p>
        </div>
    </div>
</div>
{% endblock content %}