{% extends 'base.html' %}
{% block title %}Book Detail {% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
            <img class="w-100" src="{{book.book_image.url}}" alt="{{book.title}}">
        </div>
        <div class="col-md-8">
            <div>
                <h4>Title</h4>
                <h5>{{book.title}}</h5>

                <strong>Author</strong>
                <p>
                {% for author in authors %}
                <a href="{% url 'books:author' author %}">{{author}}</a>,
                {% endfor %}
                </p>
                <strong>Price</strong>
                <p>{{book.price}}</p>

                <strong>Description</strong>
                <p>{{book.description}}</p>

                <strong>Full Description</strong>
                <p>{{book.long_description}}</p>

                {% if reviews %}
                <div class="review">
                    <h3 class="border-bottom">Reviews:</h3>
                    {% for review in reviews %}
                    <div class="border-bottom">
                        <p><strong>Review By: </strong>{{review.userprofile.user}}</p>
                        {% if review.image %}
                        <img src="{{review.image.url}}" width="100" alt="">
                        {% endif %}
                        <div class="d-flex justify-content-between">
                            <p class="">{{review.review_text}}</p>
                        <p class="text-secondary">{{review.review_date}}</p>
                        </div>
                    </div>

                    {% endfor %}
                </div>
                {% endif %}
                {% if request.user.is_authenticated %}
                <form action="{% url 'books:book_review' book.id%}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    {{field.errors}}
                    {{field}}
                    {% endfor %}
                    <button class="btn btn-primary float-right mt-1">Post</button>
                </form>
                {% else %}
                <p><a class="btn btn-link" href="{% url 'login' %}?next={{request.path}}">login </a>to write review</p>
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endblock content %}