{% extends 'base.html' %}
{% block title %}Book Detail {% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
            <img class="w-100" src="{{book.image}}" alt="{{book.title}}">
        </div>
        <div class="col-md-8">
            <div>
                <h4>Title</h4>
                <h5>{{book.title}}</h5>

                <strong>Author</strong>
                <p>{{book.author}}</p>

                <strong>Price</strong>
                <p>{{book.price}}</p>

                <strong>Description</strong>
                <p>{{book.description}}</p>

                <strong>Full Description</strong>
                <p>{{book.long_description}}</p>

                {% if reviews %}
                <div class="review">
                    <h3 class="border-bottom">Reviews:</h3>
                    {% for review in reviews %}
                    <div class="border-bottom">
                        <p><strong>Review By: </strong>{{review.userprofile.user}}</p>
                        <p class="">{{review.review_text}}</p>
                    </div>

                    {% endfor %}
                </div>
                {% endif %}
                <form action="{% url 'books:book_review' book.id%}" method="POST">
                    {% csrf_token %}
                    <textarea class="w-100" name="review" id="" cols="30" rows="5"
                        placeholder="write your review"></textarea>
                    <button class="btn btn-primary float-right" type="submit">Post</button>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock content %}